body {
    font-family: Fanatix;
    margin: 0;
    padding: 20px;
    background-color: #bdc5d8;
}

h1 {
    text-align: center;
    font-style: italic;
    font-family: 'times new romans';
    color: #120c0cdf;
}

#house-list {
    list-style: none;
    text-align: center;
    padding: 0;
    font-style: italic;
    font-family: bookman;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    background-color: #b7b5c9;
    border: 1px solid #7269f0;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

li:hover {
    transform: scale(1.05);
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #e4eff6;
    color: #1a1933;
    width: 65%;
    border-radius: 4px;
    cursor: pointer;
}

.floor-area-input {
    width: 45%;
    font-style: italic;
    padding: 8px;
    margin-top: 10px;
    box-sizing: border-box;
}

.construction-cost-container {
    margin-top: 10px;
}

p {
    margin: 0;
    color: #333;
}